html {
    scroll-behavior: smooth;
    overflow-x: hidden;
} 


.titulo_marca_1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -5%;   
}

.subtitulo_marca_1{
    text-align: center;
    font-size: 20px;  
    font-family: Arial, Helvetica, sans-serif;
}

.servicio_electricidad{
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer__marca{
    font: size 100%;;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 1350px;
    height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
}

.materiales_marca{
    font-family:Arial, Helvetica, sans-serif;
}

.reparaciones_marca{
    font-family: Arial, Helvetica, sans-serif;
}

.comunicacion{
    color:rgb(0, 0, 0);
}

.servicios{
    font-family: Arial, Helvetica, sans-serif;
}


.instalaciones_areco{
    font-family: Arial, Helvetica, sans-serif;
}

.tipos_instalaciones{
    font-family: Arial, Helvetica, sans-serif;
}

.electromontajesareco{
    background-image:( "ELECTROMONTAJESARECO.png");
    display: block;
    width: 1350px;
    height:700px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

.whatsappicono{
    width: 100px;
    height:100px;
    max-width: 100%;
}

.ingenieria_electromecanica{
    text-align: right;
}



