.html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.section[id]{
    scroll-margin-top: 80px;
}

:root{
    scroll-behavior: smooth;
}
/*
.bg-dark{
    --bs-bg-opacity: .5 !important;
}

ANOTADO EN PRIMERA PÁGINA. (BUSCAR INFORMACIÓN SOBRE SU UTILIDAD).
*/
.titulo_marca_1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 3px;
    max-width: 20%;
}

.subtitulo_marca_1{
    text-align: center;
    font-size:  30px;  
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-top: -1%;
    margin-bottom: 100px;
}

.servicio_electricidad{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 20%;
    margin-bottom: 30%;
    text-align: center;
    transition: 2s;
}

.servicio_electricidad:hover{
    transition:ease 1.5s;
    text-decoration: none;
    transform:scale(1.1);
    cursor:default;  
}

.footer__marca{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 1350px;
    height: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    padding-left: 40px; 
    margin-top: 220px;
}

.materiales_marca{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

.reparaciones_marca{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 20px;
    font-size: 22px;
}

/*
.comunicacion{
    color:rgb(0, 0, 0);
}
*/

.servicios{
    font-family: Arial, Helvetica, sans-serif;   
    margin-top: 6%;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 25px;
}

.instalaciones_areco_{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;   
    margin-top: 10%;
    margin-bottom: -0.5%;
    margin-left: 20px;
    font-size:25px;
}

.instalaciones_marca_1{
    font-weight: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:35px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: -5%;
    transition: 2s;
}

.instalaciones_marca_1:hover{
    transition:ease 1.5s;
    text-decoration: none;
    transform:scale(1.1);
    cursor: default;
    transition:ease 1.5s;
    transform:scale(1.1);
}

.reparaciones_marca_1{
    font-weight: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:35px;
    box-sizing: border-box;   
    margin-top: 5px;
    margin-bottom: 10px;
    transition: 2s;
}

.reparaciones_marca_1:hover{
    transition:ease 1.5s;
    text-decoration: none;
    transform:scale(1.1);
    cursor: default;
}

.repuestos_marca_1{
    font-weight: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:35px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-left: 20px;
    transition: 2s;
}

.repuestos_marca_1:hover{
    transition:ease 1.5s;
    text-decoration: none;
    transform:scale(1.1);
    cursor: default;
}

.tipos_instalaciones{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    margin-top: 30px;
}

/*
.electromontajesareco{
    background-image:("ELECTROMONTAJESARECO.png");
    display: block;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 0;
    margin-top: -85px;
    margin-right: -90px;
    margin-bottom: -400px;
    max-width: 100%;
    box-shadow: 5px 10px 50px #000;
    opacity: .4;
    float: center;
    object-fit: cover;
    background: linear-gradient(to bottom, top, left, right,);


    (SON LAS CARACTERÍSTICAS DE LA IMÁGEN QUE HABÍA COLOCADO DE LA ORUGA).
}
*/

.whatsappicono{
    width: 100px;
    height: 100px;
    max-width: 100%;
    padding: 5px;
    border-radius: 80%;  
    bottom: 30px;
    position:fixed;
    transition:ease 1s;
    right: 20px;
}

.whatsappicono:hover{
    text-decoration: none;
    transform: scale(1.3);
    cursor: pointer;
}

/*
.ingenieria_electromecanica{
    padding-bottom: 20px;
    background-color:rgb(34, 2, 107);
    height: 18vh;
    font-size:x-large;  
}
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.header{
    position: fixed;
    background-color: rgb(63, 70, 90);
    width: 100%;
    height: 130px;
    top: -3%;
}

.menu-navegacion{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 30px;
    margin-top:35px;
    margin-right: 20px;
}

/*
.hamburguesa{
position:fixed;
margin-top:20px;
margin-right:100%;
}

*/

.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 1s;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    margin-left: -1%;
}

.logo:hover{
    transition:ease 2s;
    text-decoration: none;
    transform:scale(1.1);
}
.instalaciones_areco{
    font-weight: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:30px;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: -5%;
    scroll-behavior: smooth;
    margin-left: -650px;
}
.nav-menu{
    display: flex;
    margin-right: 80px;
    list-style: none;
    font-family:Arial;
    transition:ease 1.5s;
}

.nav-menu-item{
    /*flex-direction: column;*/
    margin-right: 100px;
    font-size: 20px;
    top: 50px;
    height: calc(100% - 60px);
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-item:hover{
    transition:ease 1.5s;
    transform:scale(1.1);
}

.nav-menu-link{
    padding: 10px;
    border-radius: 3px;
    margin-right: -10px;;
    font-size: 17px;
    transition:ease 1.5s;
    transform:scale(1.1);
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background: color #034574;;
    color:rgb(61, 123, 180);
    
}

.nav-toggle{
    color:white;
    background: none;
    border: none;
    font-size: 28px;
    padding: 0 20px;
    line-height: 20px;
    display: none;
    cursor: pointer;
    display: block;
    margin-right: 5px;
    margin-left: 5px;
}

/*
.body{
    background-color: darkblue;
}


(MEDIA QUERY PARA LA IMÁGEN):
              !
              !
              !
@media only screen and (max-width:800px){
.body {
    display: block;
    width: 100%;
}
}

@media only screen and (max-width:800px){
    .footer__marca {
        display: block;
        width: 100%;
}
}
*/





