h1 {
color: black
}


.titulo_marca_1{
    font-size: 45px;
    text-align: center;
    margin-top: -5%;
    
}

.subtitulo_marca_1{
    text-align: center;
    
}

.electromecanica{

    text-align: end;
}

.footer__marca{

    background-color: #000;
    width: 100vw;
    height: 100vh;
}


